@{
    bool isAuthenticated = User.Identity != null && User.Identity.IsAuthenticated;
    var firstName = User.FindFirst("FirstName")?.Value;
    ViewData["Title"] = $"{firstName}'s Books";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<h4 style="text-align: center;">Books you're currently borrowing.</h4>
<hr />

<div class="text-center">
    @await Component.InvokeAsync("MyBooksList", new { pageNum = 1 })
</div>