@{
    ViewData["Title"] = "About Us";
}

<div style="text-align: center;">
   
    <div style="position: relative; margin-bottom: 50px;  height: 500px; overflow: hidden">
        <div style="position: absolute; width: 100%; height: 100%; display: flex; justify-content:center; align-items: center; background-color: rgba(1,1,1,0.3);">
            <h1 style="font-size: 6rem; color: white; ">@ViewData["Title"]</h1>
         </div>
        <img src="https://basecamplive.com/wp-content/uploads/2023/02/books.jpeg" width="100%" />
     

    </div>
   

    <h2>Reconnecting the World with Reading</h2>
    <p>In an increasingly digital age, the magic of reading can sometimes be overlooked. We are [Organization Name], a non-profit organization committed to fostering a global culture of reading. We believe that reading is not just a pastime, but a fundamental tool for personal growth, community building, and understanding the world around us.</p>


    <h3>Out Mission</h3>

    <p>
        Increase access to books and reading resources for underserved communities.
        <br />
        Develop innovative programs that inspire a love of reading in all ages.
        <br />
        Advocate for the importance of literacy and reading in education and society.
        <br />
        Create engaging online and offline experiences that connect readers worldwide.
    </p>
</div>


