@model LibrarySystemWeb.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    bool isAuthenticated = User.Identity != null && User.Identity.IsAuthenticated;
    var firstName = User.FindFirst("FirstName")?.Value;

    // Get query parameters for pagination and search
    var pageNum = Context.Request.Query["pageNum"].FirstOrDefault() ?? "1";
    var searchType = Context.Request.Query["searchType"].FirstOrDefault() ?? "1";
    var searchText = Context.Request.Query["searchText"].FirstOrDefault() ?? "";
}
<div class="text-center">
    @if (isAuthenticated)
    {
        <h1>Hey @firstName</h1>

        <hr />

        @await Component.InvokeAsync("BookSearch", new
            {
                pageNum = int.Parse(pageNum),
                searchType = int.Parse(searchType),
                searchText = searchText
            })
    }
    else
    {
        <partial name="Components/_IndexPartial" />
    }
</div>
